*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    min-height: 45vh;
    width: 40vh;
}